.video_outer_wrap{
	width: 568px;
	max-width: 100%;
}

.video_wrap {
	position: relative;
	padding-bottom: 50%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video_wrap video, iframe {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
